:root {
  --light-bg-color: #f9f9f9;
  --light-text-color: #000000;
  --dark-bg-color: #333333;
  --dark-text-color: #ffffff;
  --accent-color: #103449;
}

body.light-mode .about {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}

body.dark-mode .about {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

.about {
  padding: 2rem;
  background: url('../assets/Logo.png') center/cover no-repeat;
  text-align: left;
  position: relative;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--light-text-color); /* Ensure text color is consistent in both light and dark modes */
}

/* Add a class for adjusting the opacity of the background image */
.about-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  background-image: url('../assets/pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1; /* Adjust the opacity as needed */
  z-index: -1;
}
