.footer {
  background-color: #f0f0f0; /* Light gray background color */
  padding: 2rem;
  color: #333; /* Darker text color */
}


.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  color: #333; /* Darker text color */
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-bottom {
  margin-top: 1.5rem;
  text-align: center;
}

.footer-column img {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
