.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: #333;
  color: #fff;
}

.logo img {
  height: 60px;
  width: auto;
}

@media (max-width: 768px) {
  .logo img {
    height: 50px;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 40px;
  }
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #444;
}

.search-bar input {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
}

.dark-mode-switch {
  cursor: pointer;
  font-size: 24px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.dark-mode-switch svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  transition: fill 0.3s;
}

.dark-mode-switch svg:hover {
  fill: #ffdd57; /* Change color on hover */
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark .header {
  background-color: #1e1e1e;
}

body.dark nav a {
  color: #e0e0e0;
}

body.dark nav a:hover {
  background-color: #333;
}
